// Генерируется matugen
$background: radial-gradient(circle, #474747 45%, #5a5550 50%, #6a625c 100%);
$background-alt: radial-gradient(circle, #2b2b2b 45%, #302c29 100%);
$font: #cccccc;
$font-dark: #2e2e2e;
$accent: {{ colors.primary.default.hex }};

@import "./bar/bar.scss";
@import "./round monitor/roundm.scss";
@import "./notif/notif.scss";
@import "./dashboard/dash.scss";
@import "./power_pc/power.scss";
@import "./launch/launch.scss";
@import "./Btime/btime.scss";
@import "./sys_inf/sys.scss";
